
/* General Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main */

main{
    height: 100vh;
    background-color: black;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-7{
    position: relative;
    flex-basis: calc(100% * (2/12));
    margin-right: 4px;
}

.container{
    padding: 30px 30px 30px 10px;
    max-width: 1200px; 
    margin: 0 auto;
}

img{
    height: 100px;
    width: 200px;
}

.nome{
    position: absolute;
    padding: 2px;
    bottom: 4px;
    left: 0px;
    color: white;
    background-color: #8f8d8d96;
}

/* Footer */

footer > .row{
    justify-content: space-between;
}

footer > i{
    display: block;
}

.col-left{
    color: white;
}

.col-right{
    color: red;
    background-color: rgb(43, 41, 41);
    padding: 10px;
}

/* DEBUG RULES */

.debug .footer{
    height: 100px;
    background-color: grey;
}