
/* General Rules */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Main */

main{
    height: 100vh;
    background-color: black;
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.col-7{
    position: relative;
    flex-basis: calc(100% * (2/12));
    margin-right: 0px;
}

.container{
    padding: 10px 10px 10px 10px;
    max-width: 1400px; 
}

img{
    height: 100px;
    width: 200px;
}

.nome{
    position: absolute;
    padding: 2px;
    bottom: 4px;
    left: 0px;
    color: white;
    background-color: #8f8d8d96;
}

/* Footer */

.footer > .row{
    justify-content: space-between;
}

.col-left,.col-center,.col-right{
    flex-basis: calc(100%/3);
}

.footer > .container{
    height: 50px;
    background-color: rgb(32, 32, 32);
}

.col-left{
    color: white;
}

.col-right{
    color: red;
}



